.Menu-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}

.menu-div{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    max-width: 85%;
    gap: 30px;
    margin-top: 20px;
    background-color:#ccc;
    padding: 10px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.menu-title{
    font-size: 25px !important;
    margin: 10px 0px;
    font-weight: bold;
}

.menu-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mactive{
    border: 2px solid red;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.minactive{
    border: 1px solid black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.menu-name{
    margin-top: 7px;
    color:black;
    font-weight: 600;
}

@media screen and (max-width: 450px){
    .menu-div{
        max-width: 90%;
    }
}