.checkout-button{
    background: var(--main) !important;
    color: black !important;
    text-transform: none !important;
    font-family: 'Times New Roman', Times, serif !important;
    margin-top: 20px !important;
}
.button-div{
    text-align: center;
}
.summary-amounts{
    float: right;
}

.summary-title{
    font-size: 20px !important;
    margin-bottom: 20px !important;
}
.cart-summary{
    width: 300px;
    margin-top: 30px;
}
.cart-summary-card{
    border: 2px solid var(--dark);
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.summary-fields{
    font-size: 17px !important;
    margin: 8px 5px;
}