.appbar{
    width: '100%';
}

.toolbar{
    width: '100%';
    height: 75px;
    display: flex;
    flex-direction: row;
    padding-left: 20px !important;
    justify-content: space-between;
    background: black;
}

.toolbar .button{
    background: var(--main);
    color: black;
    text-transform: none;
}

.icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar .carticon{
    color: var(--main);
    padding: 0px;
    margin-right: 20px;
    margin-left: 5px;
}

.toolbar .profile-icon{
    color: var(--main);
    padding: 0px;
    margin-left: 15px;
    margin-right: 10px;
}
.icon-dim{
   transform: scale(1.3);
   -webkit-transform: scale(1.3);
   -moz-transform: scale(1.3);
   -ms-transform: scale(1.3);
   -o-transform: scale(1.3);
}

.dropdown{
    position: relative;
}
.dropdown-list{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black ;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    min-width: 130px;
}

.dropdown-list-item{
    display: flex;
    flex-direction: row;
    padding: 3px 2px;
    cursor: pointer;
}

.dropdown-list-item:hover{
    color: var(--main);
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
    padding: 0px;
}

.active{
    text-decoration: none;
    color: var(--main);
    font-size: 20px;
}

.inactive{
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
}

@media screen and (max-width: 750px){
    .navbox{
        display: none;
    }
}